.sof img:hover {
  cursor: pointer;
  opacity: .5;
}
.irb .jpg img:hover {
  cursor: pointer;
  opacity: .5;
}
.top-buffer { 
  margin-top:20px;
}
.word-wrap {
  word-wrap: break-word;
}
.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
p:last-child {
  margin-bottom: 0px;
}
.card-top {
  margin-top: 5px;
}
.card {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}
.selected {

}
.unselected {
  background-color: white;
  filter:alpha(opacity=50); /* IE */
  opacity: 0.5; /* Safari, Opera */
  -moz-opacity:0.50; /* FireFox */
  background-repeat:no-repeat;
}
.photo {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}
.photo a:hover{
  cursor: pointer;
  opacity: .5;
}
.multiSelectItem {
  margin-right: 10px;
}
.photo-image {
  width: 100%;
  border-radius: 15px;
  border: 1px solid lightgrey;
}
.lightbox-image-caption{
  left: -55%;
  max-width: 50%
}
.lesson-plan-name {
  min-height: 40px;
}
.day-name{
  text-align: center;
}
.lesson-plan-div {
  padding: 5px;
}
.lesson-plan-image {
  border: 1px solid black;
  border-radius: 10px;
  width: 100%;
  padding: 5px;
}

.lesson-plans {

}
.student-day-data:hover {
  background-color: lightgray;
  /*border: 1px solid black;*/
}
.data-table{
  overflow-x: scroll;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html,
body {
   margin:0;
   padding:5px;
   height:100%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  /*border-bottom: 1px solid #e5e5e5;*/
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}
/* Custom page footer */
#main-container{
  min-height:100%;
  position:relative;
}
#ui-view {
  padding: 10px;
  padding-bottom:70px;   /* Height of the footer */
}
.footer {
  height:60px;   /* Height of the footer */
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin-top: 10px;
  padding-top: 19px;
  padding-right: 15px;
  padding-left: 15px;
  color: #777;
  border-top: 1px solid orange;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 5px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
