<tr class="student-day-row">
  <!-- <td class="student-day-data">{{student.get('studyId')}}</td> -->
  <td class="student-day-data">{{student.get('studyFirstName')}}</td>
  <!-- <td>{{student.firstName}}</td> -->
  <!-- <td>{{student.lastName}}</td> -->
  <td class="student-day-data">{{student.get('grade')}}</td>
  <td class="student-day-data">{{student.get('gender')}}</td>

  <!-- <td class="student-day-data"><a ui-sref="data-table.info({studentStudyName:student.studyName,day:1,activity:'a',schoolName:school.name})">1.a</a></td> -->
  <td json-cell class="student-day-data" student=student student-log=student.studentLogs[0] day="1"></td>
  <td json-cell class="student-day-data" student=student student-log=student.studentLogs[1] day="2"></td>
  <td json-cell class="student-day-data" student=student student-log=student.studentLogs[2] day="3"></td>
  <td json-cell class="student-day-data" student=student student-log=student.studentLogs[3] day="4"></td>
  <td json-cell class="student-day-data" student=student student-log=student.studentLogs[4] day="5"></td>
  <td json-cell class="student-day-data" student=student student-log=student.studentLogs[5] day="6"></td>
  <td ng-if="student.get('school_id').get('studyName') === 'Group 1'" json-cell class="student-day-data" student=student student-log=student.studentLogs[6] day="7"></td>
</tr>