<tr class="student-day-row">
  <td class="student-day-data">{{ind}}</td>
  <td class="student-day-data">{{name}}</td>
  <td class="student-day-data">{{student}}</td>
  <td class="student-day-data">{{student.studyFirstName}}</td>
  <td class="student-day-data">{{studyFirstName}}</td>
  <!-- <td>{{student.firstName}}</td> -->
  <!-- <td>{{student.lastName}}</td> -->
  <td class="student-day-data">{{student.grade}}</td>
  <td class="student-day-data">{{student.gender}}</td>
  <!-- <td class="student-day-data"><a ui-sref="data-table.info({studentStudyName:student.studyName,day:1,activity:'a',schoolName:school.name})">1.a</a></td> -->
  <td class="student-day-data"><a ui-sref="data-table.info({studentStudyName:name,day:1,activity:'a',schoolName:school.name})">1.a</a></td>
  <td class="student-day-data"><a ui-sref="data-table.info({day:1,activity:'b'})">1.B</a></td>
  <td class="student-day-data"><a ui-sref="data-table.info({studentStudyName:student.studyName,activity:'c'})">1.c</a></td>
  <td class="student-day-data"><a ui-sref="data-table.info({studentStudyName:student.studyName,day:1})">1.d</a></td>
  <td class="student-day-data">2.a</td>
  <td class="student-day-data">2.b</td>
  <td class="student-day-data">2.c</td>
  <td class="student-day-data">2.d</td>
  <td class="student-day-data">3.a</td>
  <td class="student-day-data">3.b</td>
  <td class="student-day-data">3.c</td>
  <td class="student-day-data">3.d</td>
  <td class="student-day-data">4.a</td>
  <td class="student-day-data">4.b</td>
  <td class="student-day-data">4.c</td>
  <td class="student-day-data">4.d</td>
  <td class="student-day-data">5.a</td>
  <td class="student-day-data">5.b</td>
  <td class="student-day-data">5.c</td>
  <td class="student-day-data">5.d</td>
  <td class="student-day-data">6.a</td>
  <td class="student-day-data">6.b</td>
  <td class="student-day-data">6.c</td>
  <td class="student-day-data">6.d</td>
  <td class="student-day-data">7.a</td>
  <td class="student-day-data">7.b</td>
  <td class="student-day-data">7.c</td>
  <!-- <td class="student-day-data">7.d</td> -->
</tr>