<tr class="student-day-row">
  <!-- <td class="student-day-data">{{student.get('studyId')}}</td> -->
  <td class="student-day-data">{{student.get('studyFirstName')}}</td>
  <!-- <td>{{student.firstName}}</td> -->
  <!-- <td>{{student.lastName}}</td> -->
  <td class="student-day-data">{{student.get('grade')}}</td>
  <td class="student-day-data">{{student.get('gender')}}</td>
  <!-- <td class="student-day-data"><a ui-sref="data-table.info({studentStudyName:student.studyName,day:1,activity:'a',schoolName:school.name})">1.a</a></td> -->
  <td class="student-day-data"><a ui-sref="data-table.info({studentStudyName:student.get('studyFirstName'),day:1,activity:'1',schoolName:student.get('school_id').get('studyName'),grade:student.get('grade'),gender:student.get('gender')})">1.1</a></td>
  <td class="student-day-data"><a ui-sref="data-table.info({studentStudyName:student.get('studyFirstName'),day:1,activity:'2',schoolName:school.name})">1.2</a></td>
  <td class="student-day-data"><a ui-sref="data-table.info({studentStudyName:student.get('studyFirstName'),day:1,activity:'3',schoolName:school.name})">1.3</a></td>
  <td class="student-day-data"><a ui-sref="data-table.info({studentStudyName:student.get('studyFirstName'),day:1,activity:'4',schoolName:school.name})">1.4</a></td>
  <td class="student-day-data">2.a</td>
  <td class="student-day-data">2.b</td>
  <td class="student-day-data">2.c</td>
  <td class="student-day-data">2.d</td>
  <td class="student-day-data">3.a</td>
  <td class="student-day-data">3.b</td>
  <td class="student-day-data">3.c</td>
  <td class="student-day-data">3.d</td>
  <td class="student-day-data">4.a</td>
  <td class="student-day-data">4.b</td>
  <td class="student-day-data">4.c</td>
  <td class="student-day-data">4.d</td>
  <td class="student-day-data">5.a</td>
  <td class="student-day-data">5.b</td>
  <td class="student-day-data">5.c</td>
  <td class="student-day-data">5.d</td>
  <td class="student-day-data">6.a</td>
  <td class="student-day-data">6.b</td>
  <td class="student-day-data">6.c</td>
  <td class="student-day-data">6.d</td>
  <td class="student-day-data">7.a</td>
  <td class="student-day-data">7.b</td>
  <td class="student-day-data">7.c</td>
  <td class="student-day-data">7.d</td>
</tr>