<div class="card">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6"><h3>{{studyName}}</h3></div>
      <div class="col-md-3">
        <div>{{schoolName}}</div>
        <div>{{grade}}<sup>{{super}}</sup> Grade</div>
        <div>{{gender}}</div>
      </div>
      <div class="col-md-3">
        <img ng-src="http://api.adorable.io/avatars/{{studyName}}" alt="{{studyName}}'s Avatar" class="avatar">
        <div class="text-center">{{studyName}}</div>
      </div>
    </div>
    <div class="row">
      Interaction data associated with {{studyName}} for Day {{day}}
      <div class="col-md-12 json-table-data">
        <table>
          <tr>
            <th>Each line is one Interaction</th>
          </tr>
          <tr>
            <td ng-bind-html="params.jsonData[0].get('log_data') | nl2br"></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- </br>
Info Section </br>
Parameters: {{params}} </br>
$index: {{$index}} index: {{index}} </br>
Grade: {{grade}} </br>
Gender: {{gender}} </br>
Day: {{day}} </br>
Activity: {{activity}} </br>
Group Name: {{schoolName}} </br>
Student object: {{student}} </br>
<a ui-sref="data-table.info.list">Show List</a>
<div ui-view></div>
 -->