<div ng-repeat="school in allSchools">
  {{school.name}}
  <table st-table="rowCollection" class="table table-striped">
    <thead>
    <tr>
      <th>Study ID</th>
      <th>Study Name</th>
      <!-- <th>First name</th> -->
      <!-- <th>Last name</th> -->
      <th>Grade</th>
      <th>Gender</th>
    </tr>
    </thead>
    <tbody>
      <tr ng-repeat="student in school.students">
        <td>{{student.studyId}}</td>
        <td>{{student.studyName}}</td>
        <!-- <td>{{student.firstName}}</td> -->
        <!-- <td>{{student.lastName}}</td> -->
        <td>{{student.grade}}</td>
        <td>{{student.gender}}</td>
      </tr>
    </tbody>
  </table>
</div>