<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <p>The Sound of Fractions (SoF) is a new way to approach teaching fractions to students.  We use music and rhythm to capture students' interest and challenge mathematical questions to them that they can answer musically using rhythms.</p>
        
        <p>SoF utilizes several key areas to help students begin to understand the system of fractions:</p>
        Music
        <ul>
          <li>is embodied</li>
          <li>can be entrained</li>
          <li></li>
        </ul>
        Math
        <ul>
          <li>is ordered</li>
          <li>is scalar</li>
        </ul>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div>When we use music to interact with numbers and fractions we can ask important challenging questions like:</div>
        <ul>
          <li>Which comes first? A the second beat in a rhythm with 3 beats or the second beat in a rhythm with 4 beats?</li>
          <li>Who plays more? Someone who plays one half of a rhythm with 6 beats, or someone who plays one third of a rhythm with 10 beats?</li>
        </ul>
        <div>Text</div>
        <div>asdf</div>
        <div>asdf</div>
        <div>asdf</div>
        <div>asdf</div>
        <div>asdf</div>
        <div>asdf</div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="card sof">
        <h3>Play with SoF</h3>
        <p><a href="https://compthink.cs.vt.edu:3000" target="_blank">https://compthink.cs.vt.edu:3000</a></p>
        <img ng-click="openLightboxModal(3)" src="/images/sof-screenshot.jpg" alt="SoF overview Screenshot" width="100%">
      </div>
    </div>

    <div class="col-md-2">
      <div class="card card-top">
        <a href="http://www.npr.org" target="_blank"><img src="../images/npr.png" alt="NPR (National Public Radio)" width="100%"></a>
        <h3>SoF on NPR!</h3>
        <a href="http://wvtf.org/post/virginia-science-festival-party-where-science-guest-honor" target="_blank">
          <i class="fa fa-file-text-o fa-2x"></i> Article
        </a>
        <a href="http://cpa.ds.npr.org/wvtf/audio/2014/10/ScienceFestival.mp3" target="_blank">
          <i class="fa fa-file-audio-o fa-2x"></i> Audio (3 mins)
        </a>
      </div>
    </div>
  </div>

  <div class="row top-buffer">
    <div class="col-md-8">
      <div class="card">
        <div class="row">
          <div class="col-md-6">Rep 1</div>
          <div class="col-md-6">Rep 2</div>
          <div class="col-md-6">Rep 3</div>
          <div class="col-md-6">Rep 4</div>
          <div class="col-md-6">Rep 5</div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        Transitions
      </div>
    </div>
  </div>

  <div class="row top-buffer">
    <div class="col-md-3">
      <div class="card">
        <h3>Scholarly Papers/References</h3>
        <div></div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card sof">
        <h3>Special thanks to all those who have helped along the way!</h3>
        <div class="text-center"><i class="fa fa-user"> People</i></div>
        <div class="row">
          <div class="col-md-6">Michael Stewart</div>
          <div class="col-md-6">Siroberto Scerbo</div>
          <div class="col-md-6">Nathan Self</div>
          <div class="col-md-6">Jessica Self</div>
          <div class="col-md-6">Samantha Yglesias</div>
          <div class="col-md-6">Rebecca Welch</div>
          <div class="col-md-6">Sarah Wray</div>
          <div class="col-md-6">Deborah Tatar</div>
          <div class="col-md-6">Steve Harrison</div>
          <div class="col-md-6">Taylor O'Connor</div>
        </div>
        <div class="text-center"><i class="fa fa-users"> Organizations/Groups</i></div>
        <div class="row">
          <div class="col-md-6"><a href="http://thirdlab.cs.vt.edu">Third Lab</a></div>
          <div class="col-md-6"><a href="http://www.reynoldshomestead.vt.edu/" target="_blank">Reynolds Homestead</a></div>
          <div class="col-md-6"><a href="http://www.hci.vt.edu/" target="_blank">CHCI</a></div>
          <div class="col-md-6"><a href="http://www.icat.vt.edu/" target="_blank">ICAT</a></div>
          <div class="col-md-6"><a href="http://www.cs.vt.edu/" target="_blank">CS@Vt</a></div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <h3>GitHub repository</h3>
        <div><a href="https://github.com/VT-CHCI/SoundOfFractions/" target="_blank">https://github.com/VT-CHCI/SoundOfFractions/</a></div>
        <br>
        <div>Our Original proof of concept: </div>
        <div><a href="https://github.com/VT-CHCI/SoundOfFractions/tree/e9de3bc8b0ed992256cad934cc1db1e3ed76296e" target="_blank">GitHub Code</a></div>
        <div>Deprecated Demo <a href="http://specialorange.org/sof/" target="_blank">http://specialorange.org/sof/</a></div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card irb">
        <h3>Institutional Review Board (IRB) Certification</h3>
        <h4 class="text-center"><a href="http://www.irb.vt.edu/">IRB</a> #14-831</h4>
        <div class="row">
          <div class="col-md-4">
            <a href="../../images/irb/VT IRB-14-831 Approval Letter.pdf" target="_blank">
              <i class="fa fa-file-pdf-o fa-5x"></i>
              PDF (both pages)
            </a>
          </div>
          <div class="col-md-4 jpg">
            <img ng-click="openLightboxModal(1)" src="../../images/irb/VT IRB-14-831 Approval Letter page 1.jpg" width="100%" alt="Page 1">
            <div>Page 1 JPG</div>
          </div>
          <div class="col-md-4 jpg">
            <img ng-click="openLightboxModal(2)" src="../../images/irb/VT IRB-14-831 Approval Letter page 2.jpg" width="100%" alt="Page 2">
            <div>Page 2 JPG</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>