<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <h2 class="text-center">The Sound of Fractions</h2>
        <p>The Sound of Fractions (SoF) is a new way to approach teaching fractions to students.  We use music and rhythm to capture students' interest and challenge mathematical questions to them that they can answer musically using rhythms.</p>
        
        <p>SoF utilizes several key components to help students begin to understand the system of fractions:</p>
        Music
        <ul>
          <li>is embodied</li>
          <li>can be entrained</li>
          <li>is fun to perform</li>
          <li>is easy to enjoy</li>
        </ul>
        Math (particularly fractions)
        <ul>
          <li>is ordered</li>
          <li>is scalar</li>
          <li>is abstract and concrete</li>
        </ul>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <h3 class="text-center">Some important challenges</h3>
        <div>When we use music to interact with numbers and fractions we can ask important challenging questions like:</div>
        <ul>
          <li>Which comes first? A the second beat in a rhythm with 3 beats or the second beat in a rhythm with 4 beats?</li>
          <li>Who plays more? Someone who plays one half of a rhythm with 6 beats, or someone who plays one third of a rhythm with 10 beats?</li>
          <li>What is similar and what is different when you compare a rhythm that has 6 beats and lasts half as long as a rhythm that that has 3 beats. </li>
        </ul>
        <br>
        <div>Want More?</div>
        <div>Check out our <a ui-sref="curriculum">Curriculum</a> or each of our <a ui-sref="lesson-plans">Daily Lesson Plans</a></div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="card sof">
        <h3 class="text-center">Play with SoF</h3>
        <p><a href="https://compthink.cs.vt.edu:3000" target="_blank">https://compthink.cs.vt.edu:3000</a></p>
        <img ng-click="openLightboxModal(3)" src="/images/sof-screenshot.jpg" alt="SoF overview Screenshot" width="100%">
      </div>
    </div>

    <div class="col-md-2">
      <div class="card card-top">
        <a href="http://www.npr.org" target="_blank"><img src="../images/npr.png" alt="NPR (National Public Radio)" width="100%"></a>
        <h3 class="text-center">SoF on NPR!</h3>
        <a href="http://wvtf.org/post/virginia-science-festival-party-where-science-guest-honor" target="_blank">
          <i class="fa fa-file-text-o fa-2x"></i> Article
        </a>
        <a href="http://cpa.ds.npr.org/wvtf/audio/2014/10/ScienceFestival.mp3" target="_blank">
          <i class="fa fa-file-audio-o fa-2x"></i> Audio (3 mins)
        </a>
      </div>
    </div>
  </div>

  <div class="row top-buffer">
    <div class="col-md-12">
      <div class="card text-center">
        <h2>From Music ...</h2>
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-4">
              Make Music
              <div>Students begin by listening to music they are familiar with, and then creating their own short rhythms.</div>
            </div>
            <div class="col-xs-1"><i class="fa fa-arrow-circle-right fa-5x"></i></div>
            <div class="col-xs-3">
              Describe Music
              <div>Students are then challenged to describe rhythms.</div>
            </div>
            <div class="col-xs-1"><i class="fa fa-arrow-circle-right  fa-5x"></i></div>
            <div class="col-xs-3">
              Change Music
              <div>Students then alter rhythms matching them against mathematical descriptions.</div>
            </div>
          </div>
        <h2>... to Math</h2>
          <div class="row">
            <div class="col-xs-3">
              Make
              <div>Students use stronger knowledge of math terms to make robust rhythms and descriptions.</div>
            </div>
            <div class="col-xs-1"><i class="fa fa-arrow-circle-right  fa-5x"></i></div>
            <div class="col-xs-3">
              Change Math
              <div>Students adjust the rhythms using traditional math functions such as multiply (play twice as long), divide (play half as fast), .</div>
            </div>
            <div class="col-xs-1"><i class="fa fa-arrow-circle-right  fa-5x"></i></div>
            <div class="col-xs-4">
              Describe Math
              <div>Finally, students must defend their descriptions with their peers using standard math terms and descriptions of their rhythms and adjustments.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row top-buffer">
    <div class="col-md-12">
      <div class="card">
        <h2 class="text-center">Representations</h2>
        <h3 class="text-center">Our models students can interact with</h3>
        <div class="text-center">
          Students can choose to add representations to their instruments.
          Each representation is a different visual model of the same audio sound rhythm.
        </div>
        <div class="text-center">
          (All examples below have 5 beats, with the first, third, and fifth beats playing [selected and colored], and the second and fourth beats not selected [gray and half opacity])
        </div>
        <div class="row top-buffer">
          <div class="col-xs-5 col-xs-offset-1">
            <div class="container-fluid">
              <div class="row rep-group">
                <div><h2 class="text-center">Features of our Models</h2></div>
                <div class="col-xs-3 text-center">
                  <div>The Delta (∆) button allows students to transition the representation form one Core Four to another.</div>
                  <br>
                  <br>
                  <div>The Pile is where additional beats can be added to the main model or placed back here.</div>
                </div>
                <div class="col-xs-6 text-center">
                  <img src="/images/representations/model.jpg" class="rep-img" alt="Model Representation">
                </div>
                <div class="col-xs-3">
                  <div>Each representation can be removed by clicking the 'X'.</div>
                  <br>
                  <div>Each beat can be toggled by clicking on them directly in the main model.</div>
                  <br>
                  <div>The bottom right can be grabbed to stretch or shrink the representation.</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-4 col-xs-offset-1">
            <div class="container-fluid">
              <div class="row rep-group">
                <div><h2 class="text-center">Audio</h2></div>
                <div class="col-xs-4 text-center">
                  <img src="/images/representations/audio.jpg" class="rep-img" alt="Audio Representation">
                </div>
                <div class="col-xs-8">
                  <ul>
                    <li>Blinks every time a beat that is turned on is played.</li>
                    <li>Blinks when a rhythm is being tapped so that student knows the computer heard the tap.</li>
                    <li>Helps the student align the mental and entrained version with the one they hear and see.</li>
                    <li>The record button in the lower left allows students to record their own rhythms.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h2 class="text-center">The Core Four</h2>
        <div class="row">
          <div class="col-xs-2 col-xs-offset-2 text-center table-joint-top">
            Circular Models
          </div>
          <div class="col-xs-3 col-xs-offset-3 text-center table-joint-top">
            Linear Models
          </div>
        </div>

        <div class="row equal-height">
          <div class="col-xs-1 vcenter table-joint-left">
            Models focus on Division
          </div>
          <div class="col-xs-4">
            <div class="container">
              <div class="row rep-group">
                <div><h2 class="text-center">Bead</h2></div>
                <div class="col-xs-7 text-center">
                  <img src="/images/representations/bead.jpg" class="rep-img" alt="Bead Representation">
                </div>
                <div class="col-xs-5">
                  <!-- Model Properties -->
                  <ul>
                    <li>Modeled after necklaces and the rosary</li>
                    <li>Each beat is represented by a Bead</li>
                    <li>Loops very easily by continuing around the circle</li>
                    <li>Circular</li>
                    <li>This model focuses on the divisions between the parts (the space between each bead)</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-1 vcenter table-joint-center">
            Models focus on Division
          </div>
          <div class="col-xs-5">
            <div class="container">
              <div class="row rep-group">
                <div><h2 class="text-center">Line</h2></div>
                <div class="col-xs-7 text-center">
                  <img src="/images/representations/line.jpg" class="rep-img" alt="Line Representation">
                </div>
                <div class="col-xs-5">
                  <ul>
                    <li>Modeled after the number line, but intentionally without end markers</li>
                    <li>The strongest of the traditional mathematical forms familiar to students</li>
                    <li>Linear</li>
                    <li>This model focuses on the divisions between the parts (the space between each line)</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-1 vcenter table-joint-right">
            Models focus on Division
          </div>
        </div>

        <div class="row">
          <div class="col-xs-2 col-xs-offset-2 text-center table-joint-middle">
            Circular Models
          </div>
          <div class="col-xs-3 col-xs-offset-3 text-center table-joint-middle">
            Linear Models
          </div>
        </div>

        <div class="row equal-height">
          <div class="col-xs-1 vcenter table-joint-left">
            Models focus on Duration
          </div>
          <div class="col-xs-4">
            <div class="container">
              <div class="row rep-group">
                <div><h2 class="text-center">Pie</h2></div>
                <div class="col-xs-7 text-center">
                  <img src="/images/representations/pie.jpg" class="rep-img" alt="Pie Representation">
                </div>
                <div class="col-xs-5">
                  <ul>
                    <li>a</li>
                    <li>Circular</li>
                    <li>This model focuses on the duration (the pie slices take up the entire space)</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-1 vcenter table-joint-center">
            Models focus on Duration
          </div>
          <div class="col-xs-5">
            <div class="container">
              <div class="row rep-group">
                <div><h2 class="text-center">Bar</h2></div>
                <div class="col-xs-7 text-center">
                  <img src="/images/representations/bar.jpg" class="rep-img" alt="Bar Representation">
                </div>
                <div class="col-xs-5">
                  <ul>
                    <li>a</li>
                    <li>Linear</li>
                    <li>This model focuses on the duration (the pie slices take up the entire space)</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-1 vcenter table-joint-right">
            Models focus on Duration
          </div>
        </div>

        <div class="row">
          <div class="col-xs-2 col-xs-offset-2 text-center table-joint-bottom">
            Circular Models
          </div>
          <div class="col-xs-3 col-xs-offset-3 text-center table-joint-bottom">
            Linear Models
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row top-buffer">
    <div class="col-xs-12">
      <div class="card">
        <h3 class="text-center">Playback Animations</h3>
        <div class="text-center">
          It is important to teach students that system of fractions helps describe real things in many different ways, some ways of describing are better than others, and that they can have similarities and differences that are important.
          To help with this, we animate all beats at the same time the underlying accompanied beat plays as seen below.
        </div>
        <!-- <img class="gfyitem" data-id="TenderFearfulGlobefish" data-perimeter=true/> -->
        <video class="" width="100%" controls loop>
          <source src="images/animations/allPlayingTrimmed.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>

  <div class="row top-buffer">
    <div class="col-xs-12">
      <div class="card">
        <h3 class="text-center">Transitions</h3>
        <!-- <img class="gfyitem" data-id="TenderFearfulGlobefish"/> -->
      </div>
    </div>
  </div>

  <div class="row top-buffer">
    <div class="col-md-3">
      <div class="card">
        <h3 class="text-center">Scholarly Papers/References</h3>
        <div>Currently in review…  </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card sof">
        <h3 class="text-center">Special thanks to all those who have helped along the way!</h3>
        <div class="row top-buffer">
          <div class="text-center"><i class="fa fa-user"> People</i></div>
          <div class="col-md-6">Chris Frisina</div>
          <div class="col-md-6">Michael Stewart</div>
          <div class="col-md-6">Siroberto Scerbo</div>
          <div class="col-md-6">Nathan Self</div>
          <div class="col-md-6">Jessica Self</div>
          <div class="col-md-6">Samantha Yglesias</div>
          <div class="col-md-6">Rebecca Welch</div>
          <div class="col-md-6">Sarah Wray</div>
          <div class="col-md-6">Deborah Tatar</div>
          <div class="col-md-6">Steve Harrison</div>
          <div class="col-md-6">Aakash Gautam</div>
          <div class="col-md-6">Taylor O'Connor</div>
          <div class="col-md-6">Petey Mainardi</div>
          <div class="col-md-6">Stephanie Rivale</div>
        </div>
        <div class="row top-buffer">
          <div class="text-center"><i class="fa fa-users"> Organizations/Groups</i></div>
          <div class="col-md-6"><a href="http://thirdlab.cs.vt.edu">Third Lab</a></div>
          <div class="col-md-6"><a href="http://www.reynoldshomestead.vt.edu/" target="_blank">Reynolds Homestead</a></div>
          <div class="col-md-6"><a href="http://www.hci.vt.edu/" target="_blank">CHCI</a></div>
          <div class="col-md-6"><a href="http://www.icat.vt.edu/" target="_blank">ICAT</a></div>
          <div class="col-md-6"><a href="http://www.cs.vt.edu/" target="_blank">CS@VT</a></div>
          <div class="col-md-6"><a href="http://www.nsf.gov/" target="_blank">NSF</a></div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <h3 class="text-center">GitHub repository</h3>
        <div><a href="https://github.com/VT-CHCI/SoundOfFractions/" target="_blank">https://github.com/VT-CHCI/SoundOfFractions/</a></div>
        <br>
        <div>Our original proof of concept: </div>
        <div><a href="https://github.com/VT-CHCI/SoundOfFractions/tree/e9de3bc8b0ed992256cad934cc1db1e3ed76296e" target="_blank">GitHub Code</a></div>
        <div>Deprecated Demo <a href="http://specialorange.org/sof/" target="_blank">http://specialorange.org/sof/</a></div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card irb">
        <h3 class="text-center">Institutional Review Board (IRB) Certification</h3>
        <h4 class="text-center"><a href="http://www.irb.vt.edu/">IRB</a> #14-831</h4>
        <div class="row">
          <div class="col-md-4">
            <a href="../../images/irb/VT IRB-14-831 Approval Letter.pdf" target="_blank">
              <i class="fa fa-file-pdf-o fa-5x"></i>
              PDF (both pages)
            </a>
          </div>
          <div class="col-md-4 jpg">
            <img ng-click="openLightboxModal(1)" src="../../images/irb/VT IRB-14-831 Approval Letter page 1.jpg" width="100%" alt="Page 1">
            <div>Page 1 JPG</div>
          </div>
          <div class="col-md-4 jpg">
            <img ng-click="openLightboxModal(2)" src="../../images/irb/VT IRB-14-831 Approval Letter page 2.jpg" width="100%" alt="Page 2">
            <div>Page 2 JPG</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>