<div class="container-fluid">
  <div class="row">
    <div ng-show="error" class="col-md-12 card">
      <div>Sorry, there was a problem retrieving the photos.  This likely means your Internet connection was interrupted. Error:</div>
      <div>{{error}}</div>
      <br/>
      <div>If this problem persists, and you think we can help, please email us at <a href='mailto:thirdlab@cs.vt.edu?subject=I was at this page: {{path}} , and I received this error: "{{error}}" .'>thirdlab@cs.vt.edu</a> .</div>
    </div>    
<!--     <div class="col-md-3">
      <input type="text" ng-model="day" class="search ng-pristine ng-valid" placeholder="1 || 2 || 3 || ...">
      <button ng-click="XFilterPhotos.filterBy('day', day)">filter by day</button>
      <input type="text" ng-model="activityName" class="search ng-pristine ng-valid" placeholder="What Size!?">
      <button ng-click="XFilterPhotos.filterBy('activityName', activityName)">filter by activity Name</button>
    </div>
 -->
    <div ng-show="!error">
      <div class="col-md-1">
        <h3>Groups</h3>
        <div ng-show="groupsCounter() !== groupsToKeepTrackOfSize" class="reset-filter" ng-click="resetAndUnfilterBy('groupName')">reset groups</div>
        <div class="container-fluid">
          <div class="row">
            <!-- gc {{groupsCounter()}} -->
            <!-- gtkto {{groupsToKeepTrackOfSize}}         -->
            <div ng-repeat="group in groupNames">
              <div class="btn btn-default col-md-12" ng-click="toggleGroup(group); " ng-class="{ 'is-none': group.value == 0 }">{{group.key}}</div>
              <!-- {{group}} -->
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-1">
        <h3>Days</h3>
        <div class="reset-filter" ng-click="resetAndUnfilterBy('dayNumber')">reset days</div>
        <div class="container-fluid">
          <div class="row">
            <div ng-repeat="day in dayNumbers" ng-model="day">
              <div class="btn btn-default col-md-6" ng-click="toggleDay(day)" ng-class="{ 'is-none': day.value == 0 }">{{day.key}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <h3>Activities</h3>
        <div class="reset-filter" ng-click="resetAndUnfilterBy('dayAndActivityNumber')">reset activities</div>
        <div class="container-fluid">
          <div class="row">
            <div ng-repeat="activity in dayAndActivityNumbers">
              <div class="btn btn-default col-md-2 sub-activity-btn" ng-click="toggleDayAndActivity(activity)" ng-class="{ 'is-none': activity.value == 0 }">{{activity.key}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <h3>Students</h3>
        <div class="reset-filter" ng-click="resetAndUnfilterBy('studentStudyNames')">reset students</div>
        <div class="container-fluid">
          <div class="row">
            <div ng-repeat="student in studentStudyNames">
              <div class="btn btn-default col-md-4 student-name" ng-click="toggleStudent(student)" ng-class="{ 'is-none': student.value == 0 }">{{student.key}}</div>
            </div>
          </div>
        </div>
      </div>
<!--       <div class="col-md-3">
        <h3>Labels</h3>
        <div class="reset-filter" ng-click="resetAndUnfilterBy('labels')">reset labels</div>
        <div>Don't have these yet</div>
        <div ng-repeat="label in labels">
          <div class="btn btn-default" ng-click="toggleLabel(label)" ng-class="{ 'is-none': student.value == 0 }">{{label.key}}</div>
        </div>
      </div>
 -->
    </div>
  </div>
</div>
<!-- The photos -->
<div class="container-fluid">
  <div class="row">
    <!-- If NOT logged in -->
<!--     <div ng-hide="currentUser">
      Please Contact us for More photos!
    </div>
    <div ng-show="currentUser">  
 -->      <!-- If Logged In -->
      <div masonry>
        <div ng-repeat="photo in XFilterPhotos.collection()" class="masonry-brick not-loaded">
          <div class="photo">
            <!-- <div>Photo Name : {{photo.get('name')}}</div> -->
            <div>Activity Name : {{photo.get('actual_activity_id').get('activity_name')}}</div>
            <div>{{photo.get('student_id').get('school_id').get('studyName')}} : Day {{photo.get('actual_activity_id').get('day_number')}} - Activity {{photo.get('actual_activity_id').get('activity_number')}}</div>
            <a ng-click="openLightboxModal(photo.imageIndex)">
              <img title="Click to Enlarge this Photo" class="photo-image" ng-src="{{photo.get('file')._url}}" imageOnLoad="removeSpinnerAndAddLoadedClass()">        
            </a>
            <div>Student : {{photo.get('student_id').get('studyFirstName')}}</div>
          </div>
        </div>
      </div>
    <!-- </div> -->
  </div>
</div>