<!doctype html>
<html ng-app="sofDataViewerApp">
  <head>
    <meta charset="utf-8">
    <title>Sound Of Fractions Data Viewer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.css" />
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css.map" />
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="main-container">
      <!-- Add your site or application content here -->
      <div class="header">
        <div class="navbar navbar-default" role="navigation">
          <!-- <div class="container-fluid"> -->
            <div class="navbar-header">

              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <a class="navbar-brand" ui-sref="home">SoF Data Viewer</a>

            <div class="navbar-collapse collapse navbar-center" id="js-navbar-collapse">
              <ul class="nav navbar-nav">
                <li ui-sref-active="active"><a ui-sref="curriculum">Curriculum</a></li>
                <li ui-sref-active="active"><a ui-sref="lesson-plans">Lesson Plans</a></li>
                <li ui-sref-active="active"><a ui-sref="data-table">Data Table</a></li>
                <li ui-sref-active="active"><a ui-sref="photos">All Photos</a></li>
              </ul>

              <form class="nav navbar-nav navbar-form navbar-right" ng-hide="currentUser">
                <div class="form-group">
                  <input type="text" class="form-control" ng-model="user.username" placeholder="Username" />
                  <input type="password" class="form-control" ng-model="user.password" placeholder="Password" />
                </div>
                <button label="Login" class="btn btn-default" ng-click="logIn(user)">Sign In</button>
              </form>
             
              <div ng-show="currentUser" class="nav navbar-nav navbar-right">
                <p class="navbar-text ">Welcome {{currentUser.get('username')}}!
                </p>
                <button label="Logout" class="btn btn-default logout" ng-click="logOut()">Log Out</button>
              </div>
            </div>

          <!-- </div> -->
        </div>
      </div>

      <div id="ui-view" class="container-fluid">
        <div ui-view=""></div>
      </div>

     <script>
      var dateNow = new Date();
     </script>
      <div class="footer" ng-controller="homeController">
        <div class="container">
          <div class="row text-center">          
            <p>
              <span class="pull-left">This site is a work in progress - {{dateNow | date:'medium'}}</span>
              <span class="glyphicon glyphicon-heart"></span> from <a href="http://specialorange.org/resume" target="_blank">Chris Frisina</a> &amp; <a href="http://thirdlab.cs.vt.edu">Third Lab</a>
            </p>

          </div>
        </div>
      </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
      // window.fbAsyncInit = function() {
      //   Parse.FacebookUtils.init({ // this line replaces FB.init({
      //     appId      : '543719099099823', // Facebook App ID
      //     status     : true,  // check Facebook Login status
      //     cookie     : true,  // enable cookies to allow Parse to access the session
      //     xfbml      : true,  // initialize Facebook social plugins on the page
      //     version    : 'v2.2' // point to the latest Facebook Graph API version
      //   });
     
      //   // Run code after the Facebook SDK is loaded.
      // };

       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-smart-table/dist/smart-table.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/parse/parse.min.js"></script>
    <script src="bower_components/parse-angular-patch/dist/parse-angular.js"></script>
    <script src="bower_components/angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="bower_components/spin.js/spin.js"></script>
    <script src="bower_components/angular-spinner/angular-spinner.js"></script>
    <script src="bower_components/crossfilter/crossfilter.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/ng-crossfilter/dist/ng-crossfilter.js"></script>
    <script src="bower_components/masonry/dist/masonry.pkgd.js"></script>
    <script src="bower_components/ev-emitter/ev-emitter.js"></script>
    <script src="bower_components/imagesloaded/imagesloaded.js"></script>
    <script src="bower_components/jquery-bridget/jquery-bridget.js"></script>
    <script src="bower_components/angular-masonry/angular-masonry.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/dataTableController.js"></script>
        <script src="scripts/controllers/dataTableInfoController.js"></script>
        <script src="scripts/controllers/homeController.js"></script>
        <script src="scripts/controllers/curriculumController.js"></script>
        <script src="scripts/controllers/photoController.js"></script>
        <script src="scripts/controllers/lessonPlanController.js"></script>
        <script src="scripts/directives/student-row.js"></script>
        <script src="scripts/directives/usSpinner.js"></script>
        <script src="scripts/services/userService.js"></script>
        <script src="scripts/services/fileUpload.js"></script>
        <!-- endbuild -->
</body>
</html>
